.MainDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Header {
  display: flex;
  flex-direction: column;
  padding: 30px;
  align-items: center;
  background-image: url("../../public/submitSnapBack.jpg");
  /* background: #ff4b5744;  */
}

.MainContainer {
  display: flex;
  flex-direction: column;
  width: 60vw;
  margin-top: 1rem;
}

.buttonsWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 1rem;
  width: 25vw;
}

@media (max-width: 768px) {
}

@media (max-width: 425px) {
}

@media (max-width: 375px) {
}

@media (max-width: 320px) {
}
