.QuestDetailPage .ui.grid>.row>.column.QuestDetailDescription {
  width: 72% !important;
}

.QuestDetailPage .ui.grid>.row>.column.QuestDetailActions {
  width: 28% !important;
}

.QuestDetailPage .QuestDetailDescription .dg.Title {
  font-size: 13px;
  text-transform: uppercase;
  font-weight: normal;
  color: #736E7D;
}

.QuestDetailPage .QuestDetailDescription .dg.SubTitle {
  font-size: 21px;
  font-weight: 500;
}

.QuestDetailPage .QuestDetailDescription .dg.Paragraph {
  font-size: 15px;
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .QuestDetailPage .ui.grid>.row>.column.QuestDetailDescription {
    width: 100% !important;
  }

  .QuestDetailPage .ui.grid>.row>.column.QuestDetailActions {
    width: 100% !important;
  }
}