.imageSelectorWrapper {
  margin-top: 28px;
}

.imageSelectorTitle {
  font-weight: bold;
  margin-bottom: 8px;
}

.imageSelectorDescription {
  margin: 8px 0px;
}

.imageSelector {
  border: 3px dashed rgb(204, 204, 204);
  cursor: pointer;
  margin-bottom: 20px;
  margin-top: 6px;
  padding: 4px;
  border-radius: 5px;
  /* width: 300px; */
  height: 200px;
}

.imageSelector2 {
  height: 100%;
  width: 100%;
  align-items: center;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  max-height: 100%;
  max-width: 100%;
  overflow: hidden;
  position: relative;
  border-radius: 5px;
}

.imageSelector3 {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.imageSelector4 {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  /* position: relative; */
}

.imageSelectorInput {
  cursor: pointer;
  height: 100%;
  opacity: 0;
  position: absolute;
  width: 100%;
}

.imageSelectorImage {
  color: rgb(204, 204, 204);
}
